/*comentários em css*/



.cabecalho {
    width: 90%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
}

#titulo{
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 80px;
    background: linear-gradient(to right, #4B39EF, #39D2C0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
  );
}
body {
    background-color: #010124f6;
}
.copyright {
        text-align: center;
        color: white;
    }

.titulos {
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 30px;
    background: linear-gradient(to right, #4B39EF, #39D2C0, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
    line-break: auto;
}

.badges {
    margin-left: 30%;
    max-inline-size: 100px;
    align-self: right;
    margin-bottom: 80%;
}
.certs {
    background-color: #1D1638;
    align-self: right;
    margin-left: none;
    display: inline-block;
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 5%;
    min-height: 300px;
    max-width: 340px;
    min-width: 320px;
    
}

.projetos {
    background-color: #1D1638;
    align-self: center;
    display: inline-block;
    min-height: 400px;
    margin-top: -20%;
    margin-bottom: -30%;
    border-radius: 5%;
    max-width: 340px;
    min-width: 320px;
    
}

.livros {
    background-color: #1D1638;
    align-self: left;
    display: inline-block;
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 5%;
    min-height: 300px;
    max-width: 340px;
    min-width: 320px;
}

.menus {
    align-items: center;
    margin-top: 15%;
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 20%;
}